{% extends 'base.html.twig' %}

{% block body %}
   
   {% include 'components/navbar.html.twig' %}

    <div id="capturas-section">
    <a href="#">PROYECTOS</a>

   <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;" id="proyectoTable">
      <thead style="background-color: gray; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Fecha de captura</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre del proyecto</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Area solicitante</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Centro de trabajo</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre del solicitante</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre secretaria</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Inicar inspeccion</th>
        </tr>
      </thead>
      <tbody>
        {% for captura in capturas %}
            <tr style="background-color: #ffffff;">
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.fecha ? captura.fecha|date('Y-m-d') : '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.NombreProyecto ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.areaSolicitante ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.centroTrabajo ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.nombreSolicitante ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.secretaria ? captura.secretaria.nombre ?? '' : '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">
                    <a class="button2" href="{{ path('app_proyecto', {'id': captura.id}) }}">Ver detalles</a>
                </td>
                <!-- Agrega más celdas según tus necesidades -->
            </tr>
        {% endfor %}

        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>
</div>

  <section class="spikes"></section>

</ul>

<script>

    $(document).ready( function () {
        $('#proyectoTable').DataTable();
    } );
</script>



 

{% endblock %}
