{% extends 'base.html.twig' %}

{% block body %}
<style>


 /* estilos fondo  */
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #d1d1d1;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 5%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 52%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 52%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 74%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 7%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 11s;
}
.background li:nth-child(5) {
    left: 28%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 0%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 23%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 2s;
}
.background li:nth-child(8) {
    left: 40%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 19%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 3s;
}


/* estilos titulo  */
body {
  background: #001224;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: transparent;
  background: url("{{ asset('images/image.png') }}") repeat-x #9E2343;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0;
  background-position-y: 2em;
  -webkit-transition: background-position-y 0.6s ease;
  transition: background-position-y 0.6s ease;
  -webkit-animation: waveAnimation 4s infinite linear;
  animation: waveAnimation 4s infinite linear;
  animation-play-state: running;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

a:hover {
  background-position-x: 0;
  background-position-y: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes waveAnimation{
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200%;
  }
}

/* Add container styles */
    .form-container {
        max-width: 800px; /* Adjust the maximum width as needed */
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Add form styles */
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        margin-bottom: 10px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    button {
        padding: 10px;
        background-color: #9e2343;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .container-with-overflow {
    overflow: auto;
  }

  .form-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     overflow: auto;
    max-height: 80vh;
  }

   form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-color: #9e2343;
  }

  input[type="checkbox"] {
    margin-right: 8px;
    border-color: #9e2343;
  }

  button {
    grid-column: span 2; /* Ocupar las dos columnas */
    padding: 10px;
    background-color: #9e2343;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

</style>

<ul class="background"  >
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
     
    {% include 'components/navbar.html.twig' %}

 <div class="form-container"  >
     
   
   

    <div class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md" style="background-color: #dec9a3; color: #ffffff; font-size:18px; font-weight:bold;">
  <div class="col-span-2 text-lg font-bold capitalize rounded-md" >
   <a href="#">LISTA DE DATOS </a>
  </div>
  <div class="col-span-2 rounded-md">
     <ul>
        
        <li2>Fecha de captura: {{ data.fecha }}</li2><br>
        <li2>Area solicitante: {{ data.area_solicitante }}</li2><br>
        <li2>Centro de trabajo: {{ data.centro_trabajo}}</li2><br>
        <li2>Nombre Solicitante: {{ data.nombre_solicitante}}</li2><br>
        <li2>Puesto Solicitante: {{ data.puesto_solicitante}}</li2><br>
        <li2>Telefono y extensión: {{ data.telefono_ext}}</li2><br>
        <li2>Tipo de trabajo: {{ data.tipo_trabajo}}</li2><br>
        <li2>Descripción trabajo: {{ data.descripcion_trabajo}}</li2><br>
    </ul><br><br>

  </div>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Notas Aceptadas
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Notas Pendientes
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Notas Rechazadas
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>

  </div>
  </div>
  
 </ul>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').change(function() {
                var checkbox = $(this);
                var hiddenField = checkbox.prev('input[type="hidden"]');
                hiddenField.val(checkbox.prop('checked') ? 1 : 0);
            });
        });
    </script>
{% endblock %}
