{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('styles/proyecto_list.css') }}">
    <style>
    .text-content h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        font-size: 4em;
        text-align: center;
        color:#681831;
        margin-top:2%;
    }
    .lista{
        text-align: justify;
        border: 2px solid black;
        width:50%;
        margin-left:25%;
        border-radius:20px;
        padding:20px;
    }
    .botones-container{
        width:50%;
        margin-left:25%;
        padding:20px;
    }
    .tabla-container{
        max-width:80%;
        margin-left:10%;
    }
    </style>
    {% include 'components/navbar.html.twig' %}
    {% set id = app.request.attributes.get('id') %}

<div class="form-container"  >
     
    <div class="text-content">
        <h1 >Lista de datos </h1>
    </div><br><br>

  <div class="col-span-2 rounded-md">
     <ul class="lista">
        <li2 style="font-weight: bold;">Fecha de captura: {{ data.fecha }}</li2>
        <li2 style="font-weight: bold;">Area solicitante: {{ data.area_solicitante }}</li2>
        <li2 style="font-weight: bold;">Centro de trabajo: {{ data.centro_trabajo}}</li2>
        <li2 style="font-weight: bold;">Nombre Solicitante: {{ data.nombre_solicitante}}</li2>
        <li2 style="font-weight: bold;">Puesto Solicitante: {{ data.puesto_solicitante}}</li2>
        <li2 style="font-weight: bold;">Telefono y extensión: {{ data.telefono_ext}}</li2>
        <li2 style="font-weight: bold;">Tipo de trabajo: {{ data.tipo_trabajo}}</li2>
        <li2 style="font-weight: bold;">Descripción trabajo: {{ data.descripcion_trabajo}}</li2>
    </ul><br>

  </div>


    <div class="botones-container ">
        <button class="boton btn btn-danger "onclick="mostrarTabla('tabla1')">Visualizar levantamientos</button>
        <button class="boton btn btn-primary" onclick="mostrarTabla('tabla2')">Ordenes de trabajo</button>
    </div>

<div id="tabla1" class="tabla-container" style="display: block;">
        
     <table class="table">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Fecha de realizacion del levantamiento</th>
                        <th>Ver</th>
                        <!-- Agrega más columnas según tus necesidades -->
                    </tr>
                </thead>
                <tbody>
                    {% for levantamiento in levantamientos %}
                        <tr>
                            <td>{{ levantamiento.nombre_categoria}}</td>
                            <td>{{ levantamiento.fecha_levantamiento|date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('generar_proyecto_pdf_inspeccion', {'id': levantamiento.id}) }}" class="button2" target="_blank">Ver levantamiento y materiales</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <button id="nueva-captura-button" class="btn btn-success" onclick="location.href='{{ path('app_iniciar_inspeccion', {'id': id}) }}'">Generar levantamiento</button>
</div>

<div id="tabla2" class="tabla-container" style="display: none;">
    <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de orden</th>
                        <th>Ver</th>
                        <!-- Agrega más columnas según tus necesidades -->
                    </tr>
                </thead>
                <tbody>
                    {% for nota in aceptadas %}
                        <tr>
                            <td>{{ nota.nombre }}</td>
                            <td>{{ nota.fechaPeticion|date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('proyecto_ver_nota', {'id': nota.id}) }}" class="button2 btn btn-outline-danger">Ver Nota Completa</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    <button id="nueva-captura-button" class="btn btn-secondary" onclick="location.href='{{ path('app_solicitante_crear_orden', {'id': data.id}) }}'">Generar orden nueva</button>
</div>

{% for flash_message in app.flashes('success') %}
        <script>
            setTimeout(function() {
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: '{{ flash_message }}',
                    timer: 3000, // Duración en milisegundos
                    timerProgressBar: true, // Barra de progreso del temporizador
                    showConfirmButton: false // Ocultar botón de confirmación
                });
            }, 100); // Cambia el valor del retraso según sea necesario
        </script>
    {% endfor %}

<script>
    function mostrarTabla(tablaId) {
        // Ocultar todas las tablas
        document.querySelectorAll('.tabla-container').forEach(function(tabla) {
            tabla.style.display = 'none';
        });

        // Mostrar la tabla seleccionada
        document.getElementById(tablaId).style.display = 'block';
    }
</script>

  </div>
  

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').change(function() {
                var checkbox = $(this);
                var hiddenField = checkbox.prev('input[type="hidden"]');
                hiddenField.val(checkbox.prop('checked') ? 1 : 0);
            });
        });
    </script>
{% endblock %}
