{% extends 'base.html.twig' %}

{% block body %}
   
<style>
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container {
    position: relative;
    height: 100vh;
  }

  .spikes {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #9e2343;
    height: 100px; /* Ajusta la altura según tus necesidades */
  }

  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    bottom: 100%; /* Ajuste necesario para que los picos se vean */
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(45deg, #9e2343 25%, transparent 25%), linear-gradient(315deg, #9e2343 25%, transparent 25%);
    background-position: 0 0;
  }

  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #d1d1d1;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}


.background li:nth-child(0) {
    left: 5%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 52%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 52%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 74%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 7%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 11s;
}
.background li:nth-child(5) {
    left: 28%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 0%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 23%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 2s;
}
.background li:nth-child(8) {
    left: 40%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 19%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 3s;
}

    body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #capturas-section {
            text-align: center;
            margin-top: 50px;
        }

/* estilos titulo  */
body {
  background: #001224;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: transparent;
  background: url("{{ asset('images/image.png') }}") repeat-x #9E2343;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0;
  background-position-y: 2em;
  -webkit-transition: background-position-y 0.6s ease;
  transition: background-position-y 0.6s ease;
  -webkit-animation: waveAnimation 4s infinite linear;
  animation: waveAnimation 4s infinite linear;
  animation-play-state: running;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

a:hover {
  background-position-x: 0;
  background-position-y: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes waveAnimation{
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200%;
  }
}

 .button2 {
   
  display: flex;
  align-items: center;
  position: relative;
   justify-content: center;
  border: #9e2343 solid 0.15em;
  border-radius: 0.25em;
  color: #ffffff; /* Cambiado a #9e2343 */
  background: #9e2343;
  font-size: 1em; /* Tamaño de fuente más pequeño */
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;

  width:100%;

  }
</style>




 <ul class="background">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
    {% include 'components/navbar.html.twig' %}

    <div id="capturas-section">
    
    <a href="#">PROYECTOS</a>

   <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Fecha de captura</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Area solicitante</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Centro de trabajo</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre del solicitante</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre secretaria</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Inicar inspeccion</th>
        </tr>
      </thead>
      <tbody>
        {% for captura in capturas %}
            <tr style="background-color: #ffffff;">
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.fecha ? captura.fecha|date('Y-m-d') : '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.areaSolicitante ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.centroTrabajo ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.nombreSolicitante ?? '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">{{ captura.secretaria ? captura.secretaria.nombre ?? '' : '' }}</td>
                <td style="padding: 10px; border: 1px solid #98989a;">
                    <a class="button2" href="{{ path('app_proyecto_solicitante', {'id': captura.id}) }}">Ver detalles</a>
                </td>
                <!-- Agrega más celdas según tus necesidades -->
            </tr>
        {% endfor %}

        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>
</div>

  <section class="spikes"></section>

</ul>
 

{% endblock %}
