{% extends 'base.html.twig' %}

{% block title %}Entrada index{% endblock %}

{% block body %}

    <style>
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }
            .text-content h1{
                font-family: 'Montserrat', sans-serif !important;
                font-weight: bold !important;
                font-size: 4em;
                text-align: center;
                color:#681831;
                margin-top:2%;
            }
    .bodybotoon{
        width:100%;
        display:flex;
        justify-content: center !important;
    }
    
    .button2 {
        background-color: #691B31 !important;
        border: #691B31 !important;
        color: white !important;
        padding: 10px 20px !important; 
        border-radius: 10px !important;
        cursor: pointer !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        display: inline-flex !important;
        align-items: center !important; 
        height: 50px !important; 
        text-decoration:none;
        
    }
     .button2:hover {
        background: transparent !important;
        border: 2px solid #691B31 !important;
        color: #691B31 !important;
        text-decoration: none !important;
    }

    .pagination {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pagination button {
        background-color: #9e2343;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
        margin: 0 5px;
    }

    .pagination span {
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #9e2343;
        color: #ffffff;
        margin: 0 5px;
    }
    
    .btn-edit{
        width:100%;
        margin: 0;
        height: 40px;
        text-align: center;
        background: #fff;
        color: #9e2343;
        border: 1px solid;
        border-radius: .25rem;
    }
    .btn-edit:hover{
        background: #9e2343;
        color: #fff;

    }
</style>

   {% include 'components/navbar.html.twig' %}
    <div class="text-content">
        <h1>ENTRADA  </h1>
    </div>
    <div id="capturas-section">

    {# <div>
        <label for="searchInput">Buscar por nombre de captura:</label>
        <input type="text" id="searchInput">
    </div>

    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="currentPage">1</span>
        <button id="nextPage">Siguiente</button>
    </div> #}

  
        <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;" id="entradaTable">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Id</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Material</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Fecha entrada</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Precio adquirido</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Acciones</th> 
        </tr>
      </thead>

        <tbody>
        {% for entrada in entradas %}
            <tr style="background-color: #ffffff;">
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ entrada.id }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ entrada.material.nombre }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ entrada.fecha ? entrada.fecha|date('d-m-Y') : '' }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">${{ entrada.precioAdquirido }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">
               
                    <a href="{{ path('app_entrada_edit', {'id': entrada.id}) }}" class="button2 btn-edit">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" scope="col" style="background-color: #ffffff; padding: 10px; border: 1px solid #9e4323;">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    <div class="bodybotoon">
    <a href="{{ path('app_entrada_new') }}" class="button2">Crear nueva entrada</a>
    </div>

 </div>


{# <script>
    $(document).ready(function () {
        var rowsPerPage = 5; // Número de filas por página
        var totalRows = {{ entradas|length }}; // Total de filas
        var currentPage = 1; // Página actual
        var filteredRows; // Filas filtradas después de la búsqueda

        function showRows() {
            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            // Oculta todas las filas
            $('tbody tr').hide();

            // Muestra solo las filas de la página actual
            if (filteredRows) {
                filteredRows.slice(startIndex, endIndex).show();
            } else {
                $('tbody tr').slice(startIndex, endIndex).show();
            }

            // Actualiza el número de página actual
            $('#currentPage').text(currentPage);
        }

        function searchByProjectName() {
            $('#searchInput').on('input', function () {
                var query = $(this).val().toLowerCase();

                // Filtra las filas que coinciden con la búsqueda por nombre
                filteredRows = $('tbody tr').filter(function () {
                    var nameColumnText = $(this).find('td:eq(1)').text().toLowerCase();
                    return nameColumnText.includes(query);
                });

                // Actualiza el total de filas y restablece la página actual
                totalRows = filteredRows.length;
                currentPage = 1;

                // Muestra las filas filtradas
                showRows();
            });
        }

        // Maneja el evento de hacer clic en "Anterior"
        $('#prevPage').click(function () {
            if (currentPage > 1) {
                currentPage--;
                showRows();
            }
        });

        // Maneja el evento de hacer clic en "Siguiente"
        $('#nextPage').click(function () {
            var totalPages = Math.ceil(totalRows / rowsPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                showRows();
            }
        });

        // Inicializa la paginación y la búsqueda por nombre
        showRows();
        searchByProjectName();
    });
</script> #}
<script>

    $(document).ready( function () {
        $('#entradaTable').DataTable();
    } );
</script>
{% endblock %}
