 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 
  
  body{
        background:white;
  }
  .form-container {
    max-width: 80%; /* Adjust the maximum width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    max-height: 70%; /* Altura máxima del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido desborda */
    overflow-x: hidden;
  }

  label {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size:1.5em;
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type="text"],
  input[type="date"], /* Estilo para el input de fecha */
  input[type="number"], /* Estilo para el input numérico */
  select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: gray;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  input[type="checkbox"] {
    width: auto;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  #nueva-captura-button {
        top: 10px;
        right: 10px;
        background-color: #9e2343; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */
    }
    #regresar-button{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important; 
        background-color: #9e2343; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        padding: 5px 30px;
        border: 2px solid #9e2343;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2em;
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */   
    }
    #regresar-button:hover{
        background-color: transparent; /* Color de fondo del botón */
        color: #9e2343; /* Color del texto del botón */       
    }
    #nueva-captura-button{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important; 
        background-color: #9e2343; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        padding: 5px 30px;
        border: 2px solid #9e2343;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2em;
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */   
    }
    #nueva-captura-button:hover{
        background-color: transparent; /* Color de fondo del botón */
        color: #9e2343; /* Color del texto del botón */       
    }
    .title-content{
        text-align: left;
        border-bottom:4px solid black;
    }

    .title-content h1{
        color: black;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        font-size: 4em;
        margin-top:2%;
        margin-left:2%;
    }
    @media only screen and (max-width: 325px) {
        .title-content{
            text-align: center;
            margin: 20px auto;
        }
        .title-content h1{
            font-size: 2rem;
        }
        .form-container {
            font-size: 16px !important; /* Ajusta el tamaño de fuente según sea necesario */
        }
        label {
            font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
        }
    }

</style>

<div class="title-content">
    <h1>Crear Nueva Entrada</h1>
</div>

{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
    {{ form_widget(form) }}


<br>

    <a id="regresar-button" href="{{ path('app_entrada_index') }}">{{ button_label|default('Regresar') }}</a>
    <button id="nueva-captura-button">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Escuchar cambios en el campo de selección de Material
        $('select[name="entrada[Material]"]').change(function() {
            // Obtener el valor seleccionado
            var materialId = $(this).val();

            // Realizar una solicitud AJAX para obtener el precio del material seleccionado
            $.ajax({
                url: 'https://sispro.hidalgo.gob.mx/material/crud/obtener-precio/' + materialId,
                method: 'GET',
                success: function(response) {
                    // Actualizar el precio de compra en el formulario
                    $('#entrada_precio_compra').val(response.precio);
                },
                error: function() {
                    console.log('Error al obtener el precio del material');
                }
            });
        });
    });
</script>
