{% extends 'base.html.twig' %}

{% block title %}Entrada{% endblock %}

{% block body %}
<style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #capturas-section {
            text-align: center;
            margin-top: 50px;
        }

        #capturas-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }





/* estilos titulo  */
body {
  background: #001224;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: transparent;
  background: url("{{ asset('images/image.png') }}") repeat-x #9E2343;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0;
  background-position-y: 2em;
  -webkit-transition: background-position-y 0.6s ease;
  transition: background-position-y 0.6s ease;
  -webkit-animation: waveAnimation 4s infinite linear;
  animation: waveAnimation 4s infinite linear;
  animation-play-state: running;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

a:hover {
  background-position-x: 0;
  background-position-y: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes waveAnimation{
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200%;
  }
}

 .bodybotoon {
            margin-left: 850px;
            margin-right:850px;
            align-items: center;
            
        }
  
  .button3 {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  text-align: center;
  position: relative;
  border: #9e2343 solid 0.15em;
  border-radius: 0.25em;
  color: #ffffff; /* Cambiado a #9e2343 */
  background: #9e2343;
  font-size: 1em; /* Tamaño de fuente más pequeño */
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-left: 0%;
  margin-right: 20%;
  width: 10%;
  height: 40px;
}

    </style>

 <div id="capturas-section">
    <a href="#"> Entrada </a>

 

    
  <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Id</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Precio_compra</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323; ">Fecha</th>
        </tr>
      </thead>

            <tbody>
            <tr>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ entrada.id }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ entrada.precioCompra }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;  width: 80%; ">{{ entrada.fecha ? entrada.fecha|date('Y-m-d') : '' }}</td>
               
            </tr>
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_entrada_index') }}" class="button3">Regresar</a>

    <a href="{{ path('app_entrada_edit', {'id': entrada.id}) }}">Editar</a>

    {{ include('entrada/_delete_form.html.twig') }}

    </div>
{% endblock %}
