{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}

   {% include 'components/navbar.html.twig' %}

    <div id="capturas-section">
    <a href="#">MATERIAL </a>


        <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;" id="materialTable">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Id</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Unidad de medida</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Acciones</th> 
        </tr>
      </thead>
        <tbody>
        {% for material in materials %}
            <tr style="background-color: #ffffff;">
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.id }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.nombre }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.unidadMedida }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">
                
                    <a href="{{ path('app_material_crud_edit', {'id': material.id}) }}" class="button2">Editar</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" scope="col" style="background-color: #ffffff; padding: 10px; border: 1px solid #9e4323;">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
     </div>
     <div class="bodybotoon">
    <a href="{{ path('app_material_crud_new') }}" class="button2">Crear nuevo</a>
    </div>
 </div>
<script>
     $(document).ready( function () {
        $('#materialTable').DataTable();
    } );
</script>
{% endblock %}
