{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <style>
        #capturas-section{
            background-color: #f4f4f4;
            padding:30px;
        }
        
        .button2{
            font-size: 1.2em;
            line-height: normal;
            text-align: center;
        }
        .btn-crea{
            font-size: 1.2em;
            background:#A02142;
            border: 2px solid #A02142;
            border-radius: 10px;
            text-decoration:none;
            color:white;
            font-family: 'Montserrat', sans-serif !important;
            font-weight: bold !important;
            padding:5px 30px;
            margin-left:1%;
        }
        .btn-crea:hover{
            background:transparent;
            border: 2px solid #A02142;
            color:#A02142;
        }
        .bodybotoon{
            margin-top: 10px;
        }
        .btn-2{
            font-family: 'Montserrat', sans-serif !important;
            font-weight: bold !important;
            display: inline;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            border: #9e2343 solid 0.12em;
            border-radius: 0.25em;
            color: #9e2343;
            background: #fff;
            font-size: .9em;
            font-weight: 600;
            cursor: pointer;
            overflow: hidden;
            transition: border 300ms, color 300ms;
            user-select: none;
            width: 30%;
            height: 40px;
            text-decoration: none;
            padding: 8px 20px;
            margin: auto;
        }
        .text-content h1{
            font-family: 'Montserrat', sans-serif !important;
            font-weight: bold !important;
            font-size: 4em;
            text-align: center;
            color:#681831;
            margin-top:2%;
        }
    </style>
   {% include 'components/navbar.html.twig' %}

    <div id="capturas-section">
        <div class="text-content">
            <h1>Material </h1>
        </div>
        <div class="bodybotoon">
            <a href="{{ path('app_material_crud_new') }}" class="btn-crea">Crear nuevo</a>
        </div>

        <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;" id="materialTable">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Id</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Nombre</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Descripción</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Unidad de medida</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Acciones</th> 
        </tr>
      </thead>
        <tbody>
        {% for material in materials %}
            <tr style="background-color: #ffffff;">
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.id }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.nombre }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.descripcion }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ material.unidadMedida }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323; width:15%;">
                
                    <a href="{{ path('app_material_crud_edit', {'id': material.id}) }}" class="btn-2">Editar</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" scope="col" style="background-color: #ffffff; padding: 10px; border: 1px solid #9e4323;">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
     </div>

 </div>
<script>
     $(document).ready( function () {
        $('#materialTable').DataTable();
    } );
</script>
{% endblock %}
