{# material/inventario.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <style>

        .text-context{
            display: block;
            font-size: 2.2em;
            text-align: center;

        }

        .category-content{
            text-align: end;
            margin-top: 2%;
        }
        .text-content h1{
            font-family: 'Montserrat', sans-serif !important;
            font-weight: bold !important;
            font-size: 4em;
            text-align: center;
            color:#681831;
            margin-top:2%;
        }
        .text-content h3{
            font-family: 'Montserrat', sans-serif !important;
            font-weight: bold !important;
            font-size: 2em;
            text-align: left;
            color:#681831;
            margin-left:5%;
        }
        .form-container{
            padding:20px 40px;
        }

         /* Estilos personalizados para la tabla */
    .tabla-body {
        max-width: 90%;
        margin-left: 5%;
        margin-top: 20px; 
    }

    .table-red th, .table-red td {
        font-family: 'Montserrat', sans-serif !important;
        text-align: center !important; 
    }

    .table-red th {
        background-color: #A02142 !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 1.2em !important;
    }

    .table-red td {
        font-size: 1em !important;
    }

    table.table-red {
        border-collapse: collapse !important;
        width: 100% !important;
        border-radius: 10px 10px 0 0 !important; 
        overflow: hidden !important; 
    }

    table.table-red th{
        border-bottom: 1px solid grey !important;
        border-right: 1px solid #E7E4E4 !important; 
        border-top: none !important; 
    }
    table.table-red td{
        border-bottom: 1px solid grey !important;
        border-top: none !important; 
    }

    /* DataTables - Personalización de la barra de búsqueda y de la paginación */

    .dataTables_wrapper .dataTables_paginate,
    .dt-paging {
        font-family: 'Montserrat', sans-serif !important;
        font-size: 1.5em !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button,
    .dt-paging-button {
        padding: 5px !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: .7em !important;
    }

    select[name="proyectoTable_length"]{
        border: 2px solid #BC955B !important; 
        padding: 2px 10px;
        border-radius: 15px !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 1em !important;
        text-align: center !important;
        width: 60px !important;
    }
    .dt-search label{
        font-family: 'Montserrat', sans-serif !important;
        font-size:1.2em !important;
        font-weight:bold;
        display: none !important;
    }
    .dt-length label{
        font-family: 'Montserrat', sans-serif !important;
        font-size:1.2em !important;
        font-weight:normal;
    }
    .dt-input{
        border: 2px solid #BC955B !important; 
        padding: 2px 10px;
        border-radius: 15px !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 1em !important;
        font-weight: normal !important;
    }
    .button2 {
        background-color:  #A02142 !important;
        border: 2px solid #A02142 !important;
        color: white !important;
        border-radius: 20px !important;
        cursor: pointer !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        font-size:1.2em;
        padding:5px 40px;
        text-decoration:none;
        margin-right:5%;
    }
     .button2:hover {
        background: transparent !important;
        border: 2px solid #A02142 !important;
        color: #A02142 !important;
        text-decoration: none !important;
    }
        @media screen and (max-width: 450px) {
            .col-span-2.text-lg.font-bold.capitalize.rounded-md{
                text-align: center ;
            }
            a{
                padding-right: auto;
            }
            h3{
                margin-left:15px;
            }
            a.btn.btn-danger{
                margin: 10px 0px;
                width: auto;
            }
            .category-content{
                text-align: center;
                width: 100%;
            }
        }

    </style>
     
    {% include 'components/navbar.html.twig' %}


    <div class="form-container">

        {# <div class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md" > #}
            <div class="col-span-2 text-lg font-bold capitalize rounded-md">
                <div class="text-content">
                    <h1>Inventario de materiales</h1>
                </div>
                <div class="category-content">
                    <a href="{{ path('app_entrada_index') }}" class="button2">Ver entradas</a>
                    <a href="{{ path('app_salida_index') }}" class="button2">Ver salidas</a>
                </div>
            </div>
            <div class="text-content">
                <h3>Materiales</h3>
            </div>
            <div class="tabla-body">
                <table class="table-red" id="materialTable">
                    <thead >
                        <tr>
                            <th scope="col" >Id</th>
                            <th scope="col" >Nombre</th>
                            <th scope="col" >Descripcion</th>
                            <th scope="col" >Unidad de medida</th>
                            <th scope="col" >Inventario</th>
                        </tr>
                    </thead>

                    {% for material in materiales %}
                    <tr >
                        <td scope="col" >{{ material.id }}</td>
                        <td scope="col" >{{ material.nombre }}</td>
                        <td scope="col" >{{ material.descripcion }}</td>
                        <td scope="col" >{{ material.getUnidadMedida() }}</td>
                        <td scope="col" >{{ inventarioPorMaterial[material.id] }}</td>
                        {# Muestra el inventario correspondiente al material #} {# Agrega más celdas según tus campos de Material #}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {# </div> #}
    </div>



<script>

    $(document).ready(function () {
    $('#materialTable').DataTable({
        language: {
            info: 'Mostrando página _PAGE_ de _PAGES_',
            infoEmpty: 'No hay registros para mostrar',
            infoFiltered: '(filtered from _MAX_ total records)',
            lengthMenu: 'Mostrar _MENU_ registros por página',
            zeroRecords: 'No hay registros para mostrar',
            search: 'Buscar'
        }
    });
    $("#dt-search-0").attr("placeholder", "Buscar...").placeholder();
});
</script>


      
{% endblock %}
