{% extends 'base.html.twig' %}

{% block body %}
<style>
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat Regular'), local('Montserrat-Regular'), url('Montserrat-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat Bold'), local('Montserrat-Bold'), url('Montserrat-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    * {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100vh;
        overflow-y: auto;
    }

    #left-side {
        flex: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        color: white;
    }

    #left-side img {
        max-width: 100%;
        max-height: 100%;
        width: 299px;
        height: 188px;
        margin-bottom: 20px;
    }

    #right-side {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #right-side img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .form-container {
        width: 80%;
        max-width: 450px;
        background-color: gray;
        padding: 20px;
        margin-bottom: 20px;
        text-align: left;
        color: white;
    }

    body.swal2-height-auto{
        height: 100vh !important;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: calc(100% - 12px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
         background-color: #BC955B;
         color: white;
         padding: 10px 15px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         display: block;
         margin: 0 auto;
    }

    button:hover {
        background-color: #75192D;
    }

    .toggle-form {
         color: #BC955B;
         text-decoration: underline;
         cursor: pointer;
         text-align: right;
         margin-top: 10px;
    }

    #left-side h1 {
        color: #BC955B;
        margin-bottom: 5px;
    }

    #left-side h2,
    #left-side p {
        margin-bottom: 15px;
        color: gray;
    }

    @media (max-width: 768px) {
        

        #right-side {
            display: none;
        }

        #left-side {
            width: 100%;
            padding: 20px;
        }
    }
</style>

<div id="left-side">
    <div>
        <img src="{{ asset('images/ofiv.png') }}" alt="Imagen Izquierda">
    </div>
    
    <h2>Sistema Integral de Seguimiento de Proyecto</h2>
    <p>Por favor, ingresa tus datos.</p>

    <form method="post" action="{{ path('app_login') }}" class="form-container" id="loginForm">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="_password" required>
        </div>

        <button type="submit">Iniciar Sesión</button>
    </form>
</div>

<div id="right-side">
    <img src="{{ asset('images/login.png') }}" alt="Imagen Derecha">
</div>

{% if error %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        Swal.fire({
            title: 'Error',
            text: '{{ error|default("Credenciales inválidas, inténtelo de nuevo") }}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    });
</script>
{% endif %}

{% endblock %}

