{% extends 'base.html.twig' %}

{% block title %}Salida index{% endblock %}

{% block body %}

<style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: #f4f4f4;
        }



        #capturas-section {
            text-align: center;
            margin-top: 50px;
            height: 70%;
            overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido desborda */
            overflow-x: hidden;
            padding:20px 40px;
        }

        #capturas-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

       
/* estilos boton  */
  #add-captura-container {
        text-align: right;
        margin-top: 0px;
        margin-right: 80px;
        margin-left: 1520px;
    }

/* estilos titulo  */

 .bodybotoon {
    align-items: center;    
  }
   .button2 {
        background-color: #691B31 !important;
        border: #691B31 !important;
        color: white !important;
        padding: 10px 20px !important; 
        border-radius: 10px !important;
        cursor: pointer !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        display: inline-flex !important;
        align-items: center !important; 
        height: 50px !important; 
        text-decoration:none;
        
    }
     .button2:hover {
        background: transparent !important;
        border: 2px solid #691B31 !important;
        color: #691B31 !important;
        text-decoration: none !important;
    }

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    background-color: #9e2343;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.pagination span {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #9e2343;
    color: #ffffff;
    margin: 0 5px;
}
.edit-btn{
  width:100%;
}
#btn-create-user{
    padding: 10px 30px;
}

.text-content h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        font-size: 4em;
        text-align: center;
        color:#681831;
        margin-top:2%;
    }

    </style>
   
   {% include 'components/navbar.html.twig' %}
    <div class="text-content">
      <h1>Salida </h1>
    </div>
    <div id="capturas-section">
    {# <div>
        <label for="searchInput">Buscar por nombre de material:</label>
        <input type="text" id="searchInput">
    </div>

    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="currentPage">1</span>
        <button id="nextPage">Siguiente</button>
    </div> #}

        <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;" id="salidaTable">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Id</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Fecha</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Material</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Cantidad</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Proyecto al que pertenece</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Acciones</th> 
        </tr>
      </thead>
        <tbody>
        {% for salida in salidas %}
            <tr style="background-color: #ffffff;">
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ salida.id }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ salida.fecha ? salida.fecha|date('Y-m-d') : '' }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ salida.descripcion_material}}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">{{ salida.cantidad }}</td>
                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">
                  <a class="edit-btn" href="{% if is_granted('ROLE_ADMIN') %}
                              {{ path('app_proyecto', {'id': salida.captura_id}) }}
                            {% else %}
                              {{ path('app_proyecto_solicitante', {'id': salida.captura_id}) }}
                            {% endif %}">
                    {{ salida.nombre_proyecto }}
                  </a>
                </td>
                

                <td scope="col" style="padding: 10px; border: 1px solid #9e4323;">
          
                    <a href="{{ path('app_salida_edit', {'id': salida.id}) }}" class="button2">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" scope="col" style="background-color: #ffffff; padding: 10px; border: 1px solid #9e4323;">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>

     </table>
     </div>
     <div class="bodybotoon">
       <a id="btn-create-user" href="{{ path('app_salida_new') }}" class="button2">Crear nuevo</a>
    </div>
 </div>


<script>
    {# $(document).ready(function () {
        var rowsPerPage = 5; // Número de filas por página
        var totalRows = {{ salidas|length }}; // Total de filas
        var currentPage = 1; // Página actual
        var filteredRows; // Filas filtradas después de la búsqueda

        function showRows() {
            var startIndex = (currentPage - 1) * rowsPerPage;
            var endIndex = startIndex + rowsPerPage;

            // Oculta todas las filas
            $('tbody tr').hide();

            // Muestra solo las filas de la página actual
            if (filteredRows) {
                filteredRows.slice(startIndex, endIndex).show();
            } else {
                $('tbody tr').slice(startIndex, endIndex).show();
            }

            // Actualiza el número de página actual
            $('#currentPage').text(currentPage);
        }

        function searchByProjectName() {
            $('#searchInput').on('input', function () {
                var query = $(this).val().toLowerCase();

                // Filtra las filas que coinciden con la búsqueda por nombre
                filteredRows = $('tbody tr').filter(function () {
                    var nameColumnText = $(this).find('td:eq(2)').text().toLowerCase();
                    return nameColumnText.includes(query);
                });

                // Actualiza el total de filas y restablece la página actual
                totalRows = filteredRows.length;
                currentPage = 1;

                // Muestra las filas filtradas
                showRows();
            });
        }

        // Maneja el evento de hacer clic en "Anterior"
        $('#prevPage').click(function () {
            if (currentPage > 1) {
                currentPage--;
                showRows();
            }
        });

        // Maneja el evento de hacer clic en "Siguiente"
        $('#nextPage').click(function () {
            var totalPages = Math.ceil(totalRows / rowsPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                showRows();
            }
        });

        // Inicializa la paginación y la búsqueda por nombre
        showRows();
        searchByProjectName();
    }); #}
    $(document).ready( function () {
        $('#salidaTable').DataTable();
    } );
</script>

{% endblock %}
