{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('styles/Ini_Inspec.css') }}">

    {% include 'components/navbar.html.twig' %}
     
 <div class="responsive">
   

    <div class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md" style="background-color: #f4f4f4; color: #000000; font-size:18px; font-weight:bold;">
  <div class="col-span-2 text-lg font-bold capitalize rounded-md p-t-container" >
   <a class="principal-text" href="#">Datos de la captura </a>
  </div>
  <div class="col-span-2 rounded-md">
     <ul>
        
        <li2>Fecha de captura: {{ data.fecha }}</li2>
        <li2>Area solicitante: {{ data.area_solicitante }}</li2>
        <li2>Centro de trabajo: {{ data.centro_trabajo}}</li2>
        <li2>Nombre solicitante: {{ data.nombre_solicitante}}</li2>
        <li2>Puesto solicitante: {{ data.puesto_solicitante}}</li2>
        <li2 style="-webkit-;">Telefono y extensión: {{ data.telefono_ext}}</li2>
        <li2>Tipo de trabajo: {{ data.tipo_trabajo}}</li2>
        <li2>Descripción trabajo: {{ data.descripcion_trabajo}}</li2>
    </ul><br><br>

  </div>
  
  

  
   <form id="form-inspect" action="{{ path('app_iniciar_inspeccion_edit', {'id': data.id}) }}" method="post" enctype="multipart/form-data" onsubmit="return enviar_datos()">


     <div class="mb-3">
        <label for="fecha">Fecha de levantamiento:</label>
        <input type="date" id="fecha" name="fecha" required>
    </div>


    <div style="margin-bottom: 10px;" class="mb-3">
            <label for="categoria" class="form-label">Selecciona la especialidad del levantamiento:</label>
            <select name="categoria" class="form-select form-control categoria">
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="margin-bottom: 20px;" class="mb-3">
            <label for="imagen1">
                Imagen 1:
            </label>
                <input type="file" id="imagen1" name="imagen1" accept="image/jpeg,image/png">
        </div>

        <div style="margin-bottom: 15px;" class="mb-3">
            <label for="imagen2">
                Imagen 2:
            </label>
            <div class="input-container">
                <input type="file" id="imagen2" name="imagen2" accept="image/jpeg,image/png">
            </div>
        </div>

        <div style="margin-bottom: 15px;" class="mb-3">
            <label for="imagen3">
                Imagen 3:
            </label>
            <input type="file" id="imagen3" name="imagen3" accept="image/jpeg,image/png">
        </div>



    <div id="materialesContainer"></div>
    <div class="btn-container-add">
        <button type="button" class="btn-sub" id="agregarMaterial" >Agregar Material a solicitar</button>
    </div>

    <h1 id="text-firm">Firmas</h1>

    <div class="mb-3">
    <label for="nombre_solicitante">
        Nombre solicitante:
    </label>
        <input type="text" id="nombre_solicitante" name="nombre_solicitante">
</div>

<div class="mb-3">
    <label for="firma_solicitante">
        Firma solicitante:
        <input type="hidden" name="accion" value="firmar">
        <input type="hidden" name="datos_imagen" id="datos_imagen" value="">
        <input type="hidden" name="json_imagen" id="json_imagen" value="">
        <div class="sigPad" id="linear" style="width:404px;">
            <div class="sig sigWrapper" style="height:auto;">
                <div class="typed"></div>
                <canvas class="pad" width="480" height="250"></canvas>
                <input type="hidden" name="output" class="output">
            </div>
        </div>
    </label>
</div>

<div class="mb-3">
    <label for="jefe_cuadrilla">
        Nombre jefe de cuadrilla:
    </label>
    <select name="jefe_cuadrilla" class="form-control jefe_cuadrilla">
        {% for trabajador in trabajadores %}
            <option value="{{ trabajador.id }}"> {{ trabajador.nombre }} - {{ trabajador.ocupacion }}</option>
        {% endfor %}
    </select>
</div>

<div class="mb-3">
    <label for="nombre_jefe_cuadrilla">
        Firma Jefe de cuadrilla: 
        <input type="hidden" name="accion_2" value="firmar2">
        <input type="hidden" name="datos_imagen_2" id="datos_imagen_2" value="">
        <input type="hidden" name="json_imagen_2" id="json_imagen_2" value="">
        <div class="sigPad" id="linear_2" style="width:404px;">
            <div class="sig sigWrapper" style="height:auto;">
                <div class="typed"></div>
                <canvas class="pad" width="480" height="250"></canvas>
                <input type="hidden" name="output_2" class="output">
            </div>
        </div>
    </label>
</div>


    <div class="mb-3">
    <label for="supervisor">
        Nombre supervisor:
    </label>
        <select name="supervisor" class="form-control supervisor" >
            {% for trabajador in trabajadores %}
                <option value="{{ trabajador.id }}"> {{ trabajador.nombre }} - {{ trabajador.ocupacion }}</option>
            {% endfor %}
        </select>
</div>

<div class="mb-3">
    <label for="firma_supervisor">
        Firma supervisor:
        <input type="hidden" name="accion_3" value="firmar3">
        <input type="hidden" name="datos_imagen_3" id="datos_imagen_3" value="">
        <input type="hidden" name="json_imagen_3" id="json_imagen_3" value="">
        <div class="sigPad" id="linear_3" style="width:404px;">
            <div class="sig sigWrapper" style="height: auto;">
                <div class="typed"></div>
                <canvas class="pad" width="480" height="250"></canvas>
                <input type="hidden" name="output_3" class="output">
            </div>
        </div>
    </label>
</div>


    <div class="btn-container">
        <button class="btn btn-sub" type="submit">Enviar</button>
    </div>
</form>
  {#</div>#}
   </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').change(function() {
                var checkbox = $(this);
                var hiddenField = checkbox.prev('input[type="hidden"]');
                hiddenField.val(checkbox.prop('checked') ? 1 : 0);
            });

            
        });

        $(document).ready(function () {
            $('.supervisor').select2();
            $('.jefe_cuadrilla').select2();
            $('.categoria').select2();
            // Evento clic en el botón "Agregar Material"
            $("#agregarMaterial").click(function () {
            // Crear contenedor para material
            var newMaterialContainer = $("<div>");

            // Agregar campos de material al nuevo contenedor
            newMaterialContainer.append(`
                <button type="button" class="quitarMaterial btn btn-danger">X</button>

                <div class="mb-3">
                    <label>
                        Material:
                    </label>
                    <select name="materiales[]" class="select2-dynamic" >
                        {% for material in materiales %}
                            <option value="{{ material.id }}">Nombre material: {{ material.nombre }} - Descripción: {{ material.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label>
                        Cantidad:
                        <input type="text" id="cantidades" name="cantidades[]">
                    </label>
                </div>

                
            `);

            // Agregar el nuevo contenedor al contenedor principal
            $("#materialesContainer").append(newMaterialContainer);

            // Inicializar Select2 en el nuevo campo de material
            $('.select2-dynamic').select2();
        });

        // Evento clic en el botón "X" para quitar el material
        $("#materialesContainer").on("click", ".quitarMaterial", function () {
            $(this).parent().remove();
        });
        
        
    });
    </script>

    <img id="imagen" width="">
		<p id="datos"></p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{{ asset('firma-pad/assets/numeric-1.2.6.min.js') }}"></script> 
		<script src="{{ asset('firma-pad/assets/bezier.js') }}"></script>
		<script src="{{ asset('firma-pad/jquery.signaturepad.js') }}"></script>
		<script src="{{ asset('firma-pad/assets/json2.min.js') }}"></script> 
		<script>
            var firma = $('#linear');
            var firma2 = $('#linear_2');
            var firma3 = $('#linear_3');

            $(document).ready(function () {
                firma.signaturePad({drawOnly: true, lineTop: 200, bgColour: 'white'});
                firma2.signaturePad({drawOnly: true, lineTop: 200, bgColour: 'white'});
                firma3.signaturePad({drawOnly: true, lineTop: 200, bgColour: 'white'});
            });

            function enviar_datos() {
                $("#datos_imagen").val(firma.signaturePad().getSignatureImage());
                $("#json_imagen").val(firma.signaturePad().getSignatureString());

                $("#datos_imagen_2").val(firma2.signaturePad().getSignatureImage());
                $("#json_imagen_2").val(firma2.signaturePad().getSignatureString());


                $("#datos_imagen_3").val(firma3.signaturePad().getSignatureImage());
                $("#json_imagen_3").val(firma3.signaturePad().getSignatureString());

                if ($("#json_imagen").val() == "[]" || $("#json_imagen_2").val() == "[]" || $("#json_imagen_3").val() == "[]") {
                    alert("Debe introducir su firma en los 3 espacios de firmas obligatoriamente.");
                    return false;
                } else {
                    if (confirm("¿Desea continuar con el envío de esta información?")) {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
        </script>

{% endblock %}


